# Python specific ignores
__pycache__/
*.pyc
*.pyo

# Environment files
.env
.venv/

dist

# SQLite database
net_monitor.db

#files 
NetMonitor.iss
app.py

main.spec

#folders
/dist
/build
/Output

# IDE specific files
.idea/

# Log files
*.log

